@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* * {
    box-sizing: border-box;
}
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
} */

/* .title {
    width: 100%;
    height: 50px;
    background: black;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    line-height: normal;
    padding-top: 3px;
    text-align: center;
} */

/* h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    margin-bottom: 15px;
} */

/* body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #212121;
    background-color: #f6f6f6;
} */

/* label {
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    flex: 1;
    width: 180px;
    padding-right: 20px;
} */

/* input {
    outline: 0;
    background: #ffffff;
    width: 210px;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
    border-radius: 15px;
    flex-shrink: 0;
} */

input:focus {
    border-color: #ff0000;
}

/* select {
    outline: 0;
    background: #ffffff;
    width: 20%;
    border: 2px solid #e6e6e6;
    margin: 0 10px 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
    border-radius: 15px;
    flex-shrink: 0;
} */

select:focus {
    border-color: #ff0000;
}

/* option {
    outline: 10;
    background: #ffffff;
    width: 100%;
    border: 2px solid black;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
    border-radius: 15px;
    flex-shrink: 0;
} */

/* .btn,
.btn-add,
.btn-edit,
.btn-delete {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: black;
    border: 0;
    text-decoration: none;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
} */

.btn-block {
    width: 30%;
}

.btn-add,
.btn-edit,
.btn-delete{
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
}
.btn-add {
    background-color: #00a762;
}
.btn-delete {
    background-color: #b72424;
}

.btn-logout {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    color: #212121;
    transition: all 0.3s;
    border-radius: 6px;
}
.btn-logout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* .btn:hover,
.btn:active,
.btn:focus {
    background: #1b1212;
} */

.text-center {
    text-align: center;
}

/* table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table > thead > tr > th {
    text-align: center;
    padding: 0.5rem 0.5rem;
    background-color: #efefef;
}

table > tbody > tr > td {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #efefef;
    white-space: nowrap;
} */

/* .card {
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
} */

.alert {
    padding: 5px;
    background-color: #ff2400;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}

/* Login/Signup forms*/

/* .bg-index {
    opacity: 0.6;
    position: fixed;
    width: 100%;
    height: 100%;
} */

.bg-main {
    /* background-image: url("../src/assets/furcarebg.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-signup-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-align: center;
}

.login-signup-form .form {
    width: 350px;
    position: relative;
    z-index: 1;
    max-width: 900px;
    padding: 20px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.9);
    font-size: 16px;
}

.login-signup-form .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.login-signup-form .form .message {
    margin: 15px 0 0;
    color:black;
    font-size: 16px;
    text-align: center;
}

.login-signup-form .form .message a {
    color: #253db7;
    text-decoration: none;
}

/* Login/Signup form */


#defaultLayout {
    display: flex;
    flex-shrink: 0;
    /* background: url("../src/assets/furcare.png"), lightgray 50% / cover no-repeat; */
}

#defaultLayout aside {
    width: 240px;
    padding: 1rem;
    flex-shrink: 0;
    border-right: 2px solid grey;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#defaultLayout .icon {
    background: url("../src/assets/furcare-icon.png"), lightgray 50% / cover no-repeat;
    width: 100%;
    height: 83px;
    flex-shrink: 0;
}
/* 
#defaultLayout aside > a, ul, li {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: black;
    text-decoration: none;
    transition: all 0.2s;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
} */

/* #defaultLayout aside > a:hover, ul:hover, li:hover {
    color: white;
    border-left: 5px solid #F00;
    background: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} */

#defaultLayout .content {
    flex: 1;
}

#defaultLayout header {
    height: 80px;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #defaultLayout main {
    padding: 2rem;
} */

.default-form {
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-form .form {
    
    width: 900px;
    height: 520px;
    position: relative;
    z-index: 1;
    background: #ffffff;
    padding: 30px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.9);
}

/* .row {
    display: flex;
    flex-direction: row;
} */

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}